@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
$gray-base:             #282c34 !default;
$brand-primary:         #0f49bd !default;
$brand-primary-alt:     #004990 !default;
$brand-success:         #0fbd93 !default;
$brand-info:            #2e6eff !default;
$brand-warning:         #fff276 !default;
$brand-warning-alt:     #ffc423 !default;
$brand-danger:          #ec2d2d !default;
$box-shadow-down: 0 2px 5px rgba(black, 0.55); 
$box-shadow-down-zoom: 0 7px 15px rgba(black, 0.55);
$box-shadow-up: 0 -2px 5px rgba(black, 0.25);
$box-shadow-left: -2px 0px 5px rgba(black, 0.25);
$box-shadow-right: 2px 0px 5px rgba(black, 0.25);

/* Content Breakpoints */
$mobile-min: 320px;
$mobile-md: 414px;
$mobile-max: 767px;

$tablet-min: 768px;
$tablet-md: 960px;
$tablet-max: 1023px;

$laptop-min: 1024px;
$laptop-md: 1232px;
$laptop-max: 1440px;

$desktop-min: 1441px;
$desktop-lg: 1680px;
$desktop-max: 2559px;
