@import "app";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  padding-top: 9em;
  // padding-bottom: 50em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
 @media only screen and (max-width: $mobile-max){
  padding-top: 2em;

   
            }
}

.container {
  display: flex;
  flex-direction: column;
   flex-wrap: wrap;
  margin-top: 17em;
  
  .bgimage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 9em;
    left: 0;
    z-index: -1;
    background-size: cover;
    -webkit-filter: blur(3px);
    
      @media only screen and (max-width: $mobile-max){
 top: 2em;
     
   }
  } // end .bgimage
/*NEW LOGIN ANIMATION*/
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-self: top;
  margin-top: 100px;
  @media only screen and (max-width: $mobile-max){
  margin-top: 7em;

   
            }

.frame {
  display: flex;
   flex-direction: column;
   align-items: flex-start;
  position: relative;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -350px;
  margin-left: -200px;
  // border-radius:50%;
     animation: roundsquare 1.1s ease-in;
 	overflow: hidden;
  // background: $brand-warning;
  color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
@keyframes roundsquare {
    from {border-radius: 50%;}
    to {border-radius: 2px;}
  
}
.circle {
	// position: absolute;
	// z-index: 10;
	// height: 100px;
	// width: 100px;
	// top: 175px;
	// left: 175px;
	// background: #fff;
	// border-radius: 50%;
	// animation: circle 1s ease-in-out;
	// animation-fill-mode: forwards;
	img{
    display:flex;
    flex-direction: column;
          // position: relative;
          position: absolute;
    z-index: 10;
    height: 125px;
    width: 125px;
    margin: 50px;
    border-radius: 75%;
    align-self: center;
    height: 75%;
    width:75%;
     animation: circle 1s ease-in-out;
    animation-fill-mode: forwards;
        } //img
}

.bblogo{
		display:flex;
		flex-direction: column;
		margin: auto;
    width: 40%;
  height: 40%;
  position: relative;
  
	
}  
.line {
	position: absolute;
	z-index: 10;
	width: 150px;
	height: 4px;
	top: 200px;
	background: $brand-warning;
	transform: scaleX(0);
	
	&.left {
		left: 50px;
		transform-origin: 100% 50%;
		animation: lines 1s ease-in-out .8s, line-left 1s steps(1) .8s;
	}
	
	&.right {
		right: 50px;
		transform-origin: 0% 50%;
		animation: lines 1s ease-in-out .8s, line-right 1s steps(1) .8s;
	}
	
}

.bracket {
	position: absolute;
	z-index: 10;
	height: 350px;
	width: 4px;
top: 25px;
	background: #fff;
	animation: bracket .4s ease-out 1.7s;
	animation-fill-mode: both;
	
	&:before, &:after {
		position: absolute;
		display: block;
		content: '';
		width: 25px;
		height: 4px;
		background: #fff;
     // box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	}
	
	&.left {
		left: 15px;
		
		&:before {
			top: 0;
			left: 0;
			transform-origin: 0% 50%;
			animation: bracket-line .2s ease-out 2.1s;
			animation-fill-mode: both;
		}
		
		&:after {
			bottom: 0;
			left: 0;
			transform-origin: 0% 50%;
			animation: bracket-line .2s ease-out 2.1s;
			animation-fill-mode: both;
		}
		
	}
	
	&.right {
		right: 15px;
		
		&:before {
			top: 0;
			right: 0;
			transform-origin: 100% 50%;
			animation: bracket-line .2s ease-out 2.1s;
			animation-fill-mode: both;
		}
		
		&:after {
			bottom: 0;
			right: 0;
			transform-origin: 100% 50%;
			animation: bracket-line .2s ease-out 2.1s;
			animation-fill-mode: both;
		}
	
	}
	
}

.big {
	position: absolute;
	z-index: 5;
	top: 50px;
	width: 400px;
	text-align: center;
	font-weight: 800;
	font-size: 50px;
	color: $brand-warning;
	line-height: 50px;
	text-transform: uppercase;
	
	
}

.hide {
	position: absolute;
	z-index: 7;
	// top: 10px;
	width: 400px;
	height: 100%;
	// background: #E16D6C;'
  background: $brand-primary;
	left: 0;
	animation: reveal .4s ease-out 1.7s;
	animation-fill-mode: both;
	
	&.top {
		bottom: 49%;
		transform-origin: 50% 0%;
	}
	
	&.bottom {
		top: 49%;
		transform-origin: 50% 100%;
	}
	
}

.small {
	position: absolute;
	z-index: 10;
	width: 400px;
	text-align: center;
	left: 0;
	font-weight: 300;
	font-size: 30px;
	color: #FFFFFF;
	line-height: 30px;
	text-transform: uppercase;
	
	&.top {
		top: 17px;
		animation: small-top .5s ease-out 2.2s;
		animation-fill-mode: both;
	}
	
	&.bottom {
		top: 125px;
		animation: small-bottom .5s ease-out 2.2s;
		animation-fill-mode: both;
	}
	
}

/*form start*/

.empty-panel{
	display:flex;
	flex-direction: column;
	// margin-top: 140px;
	
}
.bblogo-innerframe{
		display:flex;
		flex-direction: row;
	margin: 0 auto;
  width: 40%;
  height: 40%;
	// .logoleft, .logoright{
	// margin: auto;
	// display:flex;
	// flex-direction: row;
	// position: relative;
	// }
}
  
.login-panel {
   display: flex;
      flex-direction: column;
      padding: 1em;

      .form-signin {
        margin-left: 18px;
        // padding: 1em;
        // align-content: center;
        display: flex;
        flex-direction: column;
        
            #user_id,
        #password {
          margin: 2.5px;
          padding: 0.5em;
         width: 325px;
          // align-content: center;
          background: $brand-warning;
          // border: 2.5px solid rgba(255, 255, 255, 2);
          border: 2px solid #fff;
          border-radius: 5px;
          color: $gray-base;
          // text-transform: uppercase;
          font-weight: bold;

          &::placeholder {
            /* Chrome/Opera/Safari */
            opacity: 1;
          }
        } // end of userid, password

//         .forgot {
//           // display: flex;
//           // flex-direction:row;
//           color: white;
//           margin: 0 0 10px 80px;
//           text-shadow: 0 1px 1px rgba($gray-base, 0.95);
//           text-transform: uppercase;
          
//         } // end of forgot

  .btn-signin {
          // background-color: #FFD700;
         background-color: $brand-primary;
          border: none;
          color: white;
        width: 325px;
        margin: 2.5px 2.5px 1em;
          // padding: 0.5em;
          font-weight: bold;
          font-size: 14pt;

          &:after {
            position: absolute;
            transition: 0.3s;
            content: "";
            width: 0%;
            left: 50%;
            bottom: 0;
            height: 3px;
            background: $brand-primary;
          }

          &:hover {
            box-shadow: inset 0px 0px 0px 3px white;
            color: $brand-warning;
            font-weight: bold;
                    }
        }

        .forgot {
           color: #FFC423;
          margin: 20px 0 10px 80px;
          text-shadow: 0 1px 1px rgba($gray-base, 0.95);
          text-transform: uppercase;
          
        
         // text-transform: uppercase;
        } // end of forgot
      } // end of form-signin
    } // end of .login-panel

.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  // border: 2px solid $brand-primary;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;

  &:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: $brand-primary;
  }
  &:nth-of-type(2):after {
    left: 0;
  }
  &:nth-of-type(3):after {
    right: 0;
    left: auto;
  }
  &:nth-of-type(4):after {
    left: 0;
    bottom: auto;
    top: -3px;
    width: 100%;
  }
  &:nth-of-type(5):after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;

    &:after {
      width: 100%;
      left: 0;
    }

    // &:nth-of-type(4):after {
    //   top: calc(100% - 3px);
    // }
    // &:nth-of-type(5) {
    //   color: #5bcaff;
    // }
    // &:nth-of-type(5):after {
    //   left: -10%;
    //   width: 120%;
    // }
    // &:nth-of-type(6) {
    //   flex-grow:3;
    // }
    // &:nth-of-type(6):after {
    //   width: 0%;
    // }
    // &:nth-of-type(7) {
    //   border-radius: 30px;
    // }
    // &:nth-of-type(7):after {
    //   width: 0%;
    // }
    // &:nth-of-type(8) {
    //   transform: scale(1.2);
    // }
    // &:nth-of-type(8):after {
    //   width: 0%;
    // }
    &:nth-of-type(9) {
      box-shadow: inset 0px 0px 0px 3px #f7f7f7;
    }
    &:nth-of-type(9):after {
      width: 0%;
    }

    // &:nth-of-type(10) {
    //   box-shadow: 0px 0px 0px 3px #f7f7f7;
    // }
    // &:nth-of-type(10):after {
    //   width: 0%;
    // }
  }
}




/*form end*/
@keyframes circle {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	90%, 100% {
		transform: scale(0);
	}
}

@keyframes lines {
	0% {
		transform: scaleX(0);
	}
	50% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes line-left {
	0% {
		transform-origin: 100% 50%;
	}
	50%, 100% {
		transform-origin: 0% 50%;
	}
}

@keyframes line-right {
	0% {
		transform-origin: 0% 50%;
	}
	50%, 100% {
		transform-origin: 100% 50%;
	}
}

@keyframes bracket {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes bracket-line {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes reveal {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
	}
}

@keyframes small-top {
	0% {
		transform: translateX(-20px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes small-bottom {
	0% {
		transform: translateX(20px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
} //End login wrapper*/
/*NEW LOGIN ANIMATION END*/
  } // end of container
/*Begin Site Nav*/
.site-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 999;

  
 
  @media only screen and(min-width: $tablet-min)  {
    #btnBbMenu {display:none;}
    
  }
  .top-bar .quick-links,
  .top-bar .menu-links,
  .top-bar .login-links,
  .top-bar .site-search,
  .main-nav .primary-links,
  .main-nav .secondary-links {
    position: relative;
    width: 100%;

    ul {
      display: inline;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          display: block;
          text-decoration: none;
          min-width: 100px;
          padding: 0.5em;
        } //a
      } //li
    } //ul
  } //.top-bar .quick-links,
  //.top-bar .login-links,
  //.top-bar .site-search,
  //.main-nav .primary-links,
  //.main-nav .secondary-links

  .top-bar {
    background: $gray-base;
    background: linear-gradient(
        141deg,
        lighten($gray-base, 15%) 0%,
        $gray-base 51%,
        darken($gray-base, 10%) 75%
      )
      no-repeat center / cover;
    display: flex;
    flex-direction: column;

    .control-btns {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
      background-color: $brand-primary;

      .ctl-left {
        text-align: left;
        display:flex;
        padding-left: 1em;
        flex: 1 0 33.3%;
        align-items: center;

        img{
          position: relative;
          // padding-top: 10px;
          align-self: center;
          height: 32px;
        } //img
        
        a{
         margin:0 5px; 
          
        }
        
        .social{
          color:white;
           &:hover {
            // text-shadow: inset 0px 0px 0px 3px white;
            color: $brand-warning;
            // font-weight: bold;
                    }
          
        }
      } //.ctl-left

      .ctl-center{
        // display: flex;
        flex: 1 1 33.3%;
        justify-content: center;
        align-self: center;
        text-align: center;
        
        img{
          position: relative;
          align-self: center;
        height: 32px;
          
          @media only screen and (min-width: $tablet-min){
            display:none;
          }
        } //img
      }
      .ctl-right {
       flex:1 1 auto;
       justify-content: flex-end;
        display: flex;
        // width: 100%;
       
        // align-items: center;
        // align-content: center;

        button {
          border: 0;
          cursor: pointer;
          min-width: 75px;
          padding: 0.25em;
          color: $brand-warning;
          background-color: transparent;
          line-height: 40px;

          &:focus {
            outline: none;
          } //&:focus

          &:hover,
          &.active {
            background-color: darken($gray-base, 10%);
          } //&:hover, &.active

          .material-icons {
            position: relative;
            top: 7px;
          } //.material-icons
          
          span{
            @media only screen and (max-width: $mobile-max){
              display:none;
            }
          }
        } //button
      } //.ctl-right
    } //.control-btns

    .top-bar-panels {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .quick-links,
      .login-links,
      .site-search,
      .menu-links{
        -webkit-transition: opacity 0s 0.5s;
        -moz-transition: opacity 0s 0.5s;
        transition: opacity 0s 0.5s;
        transform: translateY(-100%) rotateX(90deg);

        top: 0;
        opacity: 0;
        padding: 0;
        max-height: 0;
        color: white;
        justify-content: flex-end; // needed for now, fxLayoutAlign is not applying

        a {
          padding: 0.5em;
          text-decoration: none;
        } //a

        &[aria-expanded="true"] {
          -webkit-transition: -webkit-transform 0.5s;
          -moz-transition: transform 0.5s;
          transition: transform 0.5s;
          transform: rotateX(0deg) translateY(0%);

          opacity: 1;
          padding: 1em;
          display: flex; // needed for now, fxLayoutAlign is not applying
          flex: 1 1 auto; // needed for now, fxLayoutAlign is not applying
          max-height: 100%;
        } //&[aria-expanded="true"]
      } //.quick-links, .login-links, .site-search

      .site-search {
        .site-search-icon {
          display: flex;
          flex: 1 1 1%;
          align-self: flex-start;
          justify-content: center;
          margin-top: 0.25em;
        } //.site-search-icon

        input {
          display: flex; // needed for now, fxLayoutAlign is not applying
          flex: 1 1 80%; // needed for now, fxLayoutAlign is not applying
          padding: 0.22em;
          background: transparent;
          border: none;
          height: 100%;
          width: 100%;
          font-weight: bolder;
          font-size: 18pt;
          color: white;

          &:active,
          &:focus {
            outline: none;
          } //&:active, &:focus

          &::placeholder {
            color: rgba(white, 0.95);
          } //&::placeholder
        } //input
      } //.site-search
    } // .top-bar-panels
  } //.top-bar

  .main-nav {
    display: flex;
    flex-direction: row;
    padding: 1em;
    box-shadow: $box-shadow-down;
    @media only screen and (max-width: $mobile-max){
          display:none;
          
        }

    .main-left {
      .logo {
        display: flex;

        img {
          height: 35px;
          @media only screen and (min-width: 993px) {
            &:nth-child(2) {
              height: 40px;
              margin-bottom: 2em;
            } //&:nth-child(2)
          } //@media only screen and (min-width: 993px)

          @media only screen and (min-width: 1028px) {
            &:nth-child(2) {
              height: 50px;
              margin-bottom: 2em;
            } //&:nth-child(2)
          } //@media only screen  and (min-width: 1028px)

          @media only screen and (min-width: 1170px) {
            &:nth-child(2) {
              height: 65px;
              margin-bottom: 0;
            } //&:nth-child(2)
          } //@media only screen  and (min-width: 1170px)

          .slide img {
            width: 100%; // forces aspect ratio on img in flex div
          } //.slide img

          &.no-oval {
            padding: 0.5em;
            box-shadow: -1px 0px 0px rgba($gray-base, 0.22);
            margin-left: 0.5em;
          } // &.no-oval

          @media screen and (min-width: 768px) {
            height: 65px;
          } //@media screen and (min-width: 768px)
        } //.img
      } //.logo
    } //.main-left

    .main-right {
      display: flex; // needed for now, fxLayoutAlign is not applying
      flex-direction: column; // needed for now, fxLayoutAlign is not applying
      flex: 1 1 auto; // needed for now, fxLayoutAlign is not applying
      justify-content: center;

      .primary-links,
      .secondary-links {
        display: flex; // needed for now, fxLayoutAlign is not applying
        justify-content: flex-end; // needed for now, fxLayoutAlign is not applying

        ul {
          li {
            a {
              text-align: center;
            } //a
          } //li
        } //ul
      } //.primary-links, .secondary-links

      .secondary-links {
        ul {
          li {
            border-right: 1px solid rgba($gray-base, 0.15);

            &:last-of-type {
              border-right: none;
            } //&:last-of-type

            a {
              padding: 0.125em;
              font-size: 9pt;
            } //a
          } //li
        } //ul
      } //.secondary-links

      .primary-links {
        align-self: flex-end;
        text-transform: uppercase;
        
        
        ul {
          li {
            a {
              font-size: 12pt;
            } //a
          } //li
        } //ul
      } //.primary-links
    } //.main-right
  } //.main-nav
} //.site-nav
/*END Site Nav*/
/*start HYPERLINK HIGHLIGHT BLUE CNETER to EDGE*/
.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  // border: 2px solid $brand-primary;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;

  &:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: $brand-primary;
  }
  &:nth-of-type(2):after {
    left: 0;
  }
  &:nth-of-type(3):after {
    right: 0;
    left: auto;
  }
  &:nth-of-type(4):after {
    left: 0;
    bottom: auto;
    top: -3px;
    width: 100%;
  }
  &:nth-of-type(5):after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;

    &:after {
      width: 100%;
      left: 0;
    }

    // &:nth-of-type(4):after {
    //   top: calc(100% - 3px);
    // }
    // &:nth-of-type(5) {
    //   color: #5bcaff;
    // }
    // &:nth-of-type(5):after {
    //   left: -10%;
    //   width: 120%;
    // }
    // &:nth-of-type(6) {
    //   flex-grow:3;
    // }
    // &:nth-of-type(6):after {
    //   width: 0%;
    // }
    // &:nth-of-type(7) {
    //   border-radius: 30px;
    // }
    // &:nth-of-type(7):after {
    //   width: 0%;
    // }
    // &:nth-of-type(8) {
    //   transform: scale(1.2);
    // }
    // &:nth-of-type(8):after {
    //   width: 0%;
    // }
    &:nth-of-type(9) {
      box-shadow: inset 0px 0px 0px 3px #f7f7f7;
    }
    &:nth-of-type(9):after {
      width: 0%;
    }

    // &:nth-of-type(10) {
    //   box-shadow: 0px 0px 0px 3px #f7f7f7;
    // }
    // &:nth-of-type(10):after {
    //   width: 0%;
    // }
  }
}
/*END HYPERLINK HIGHLIGHT BLUE CNETER to EDGE*/
//old simple footer
.footer {
  position: relative;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // padding: 0;
  background-color: $brand-primary;
  color: white;
  text-align: center;
  height:120px;
  width: 100%;
}//footer end

// TEST ANImATED SYS ANNOUNCE//

.sysannounce{
   // flex: 1 1 auto;
  display: flex;
  flex-direction: column;
position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  min-width:402px;

  li {
    margin: 1em 0;
    background: white;
    padding: 1em;
    box-shadow: $box-shadow-down;
    // background-color: rgba(15, 73, 189, 0.5);
    color: black;
    // background-color: $brand-primary, 0.2;
  }
  
  
 
}
   @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition-timing-function:inherit;
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp{
  animation-name: fadeInUp;
  text-transform: uppercase;
 z-index:initial;
  color:white;
    width: auto;
  // background-color: $brand-primary;
  text-align: left;
  // animation: mymove 50s infinite;
  // margin-top: 500px;

  
  > h3:first-child {
    background-color: white;
    padding: 0.5em;
    width: 100%;
    display: inline-block;
    flex: none;
       background-color: $brand-primary;
    
    // color: $brand-primary;
    // text-transform: uppercase;
  }
  }// end announcements

//ie css login issue

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS here */
  .bblogo-innerframe{
  top: 0;
  left: 50%;
  postion: relative;
  transform: translate(-20%, 0%);
  }
  
  .frame {
 transform: translate(0%, -15%);
 
}
}

@supports (-ms-accelerator:true) {
  .selector { property:value; } 
}
//end ie css login issues

// @counter-style {
//   .frame{
//    margin-top: -300px;
// }
// }
